
$breakpoint-smartphone: "all and (min-width: 350px)";
$breakpoint-tablet: "all and (min-width: 700px)";
$breakpoint-tablet-landscape: "all and (min-width: 980px)";
$breakpoint-desktop: "all and (min-width: 1280px)";


$font-base-sans: 'Roboto';
$font-base-serif: 'Slabo', "sans-serif";

$royalblue: #05386B;
$darkgreen: #379683;
$blue: #03A9F4;
$lightblue: #B3E5FC;
$lightgreen-alpha:(rgba(142, 228, 175, 0.3));
$light: #EDF5E1;
$white: #EFEFEF;

$bold: 700;
